Regresion lineal

In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
Lineal = pd.read_csv("C:/Users/PC/Documents/ANALISI DE DATOS/Etapa 2/data.csv")

In [3]:
Lineal.head(5)

   metro  precio
0      5     375
1     15     487
2     20     450
3     25     500

In [4]:
Lineal.head(2)

   metro  precio
0      5     375
1     15     487